<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>中国城市相关数据分析</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {{ echarts_js_dependencies() }}
</head>
<body style="padding-top: 70px;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flask pyecharts Demo</a>

            <ul class="nav navbar-nav">
                <li><a href="javascript:">首页</a></li>
            </ul>

        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->
<div class="container">
    <p>
        首先是对中国第{{topCityStart}}到{{topCityEnd}}城市旅游数据：
    </p>
    <ul>
        <li>这些城市是：
            {% for name in cityName  %}
               {{name}}&nbsp
            {% endfor %}
        </li>
        <li>竖向图。</li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading">竖向图示例</div>
        <div class="panel-body">
            {{ echarts_container(micheal) }}
        </div>
    </div>

    {{ echarts_js_content(micheal) }}

    <ul>
        <li>累积旅游人数</li>
        <li>横向图</li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading">横向图示例</div>
        <div class="panel-body">
            {{ echarts_container(second) }}
        </div>
    </div>

    {{ echarts_js_content(second) }}

    <ul>
        <li>累积旅游人数</li>
        <li>饼图分析</li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading">饼图示例</div>
        <div class="panel-body">
            {{ echarts_container(third) }}
        </div>
    </div>

    {{ echarts_js_content(third) }}

    <div class="panel panel-default">
        <div class="panel-heading">折线图示例</div>
        <div class="panel-body">
            {{ echarts_container(ford) }}
        </div>
    </div>

    {{ echarts_js_content(ford) }}

    <div class="panel panel-default">
        <div class="panel-heading">玫瑰图示例</div>
        <div class="panel-body">
            {{ echarts_container(fifth) }}
        </div>
    </div>

    {{ echarts_js_content(fifth) }}


</body>
</html>