<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Flask + pyecharts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body style="padding-top: 70px;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:">旅游数据分析系统</a>

            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
            </ul>

        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">热门城市top分析</div>
                <div class="panel-body">
                    <p><a href="/top">请输入前n名热门城市</a></p>
                        <form  method="post" action="{{url_for('top')}}" onsubmit="return check()">
                           第n名（默认1） <input type="number" id="one1" name="topCityStart" oninput=" if (value<1) value=1" value=1 /><br><br>
                           第m名(默认10)&nbsp&nbsp<input type="number" id="one2" name="topCityEnd" oninput="if(value>50) value=50" value="10"><br><br>
                            <input type="submit" name="Submit"/>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">热门城市分布分析</div>
                <div class="panel-body">
                    <p><a href="/geo/">热门城市分布</a>
                        <form  method="post" action="{{url_for('geo')}}">
                           第n名（默认1） <input type="number" name="topCityStart" oninput="if(value<1) value=1" value=1 /><br><br>
                           第m名(默认10)&nbsp&nbsp<input type="number" name="topCityEnd" oninput="if (value)>100 value=50" value="10" /><br><br>
                            <input type="submit" name="Submit"/>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">热门城市云图分析</div>
                <div class="panel-body">
                    <p><a href="/geo/">云词图</a>
                        <form  method="post" action="{{url_for('cloud')}}">
                           第n名（默认1） <input type="number" name="topCityStart" oninput="if(value<1) value=1" value=1 /><br><br>
                           第m名(默认10) &nbsp&nbsp<input type="number" name="topCityEnd" oninput="if(value>50) value=50" value=10 /><br><br>
                            <input type="submit" name="Submit"/>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">热门热力图分析</div>
                <div class="panel-body">
                    <p><a href="/geo/">云词图</a>
                        <form  method="post" action="{{url_for('cloud')}}">
                           第n名（默认1） <input type="number" name="topCityStart" oninput="if(value<1) value=1" /><br><br>
                           第m名(默认10) &nbsp&nbsp<input type="number" name="topCityEnd" oninput="if(value>50) value=50"><br><br>
                            <input type="submit" name="Submit"/>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
<script type="text/javascript">
function check() 
 { 
 var num1=document.getElementsById("one1").value; <!-- 怎么拿数据？？ -->
 var num2=document.getElementsById("one2").value; 
 if(parseInt(num2)>parseInt(num1)) <!-正确写法（转换成INT）-->
 { 
 alert('num2 > num1！'); 
 return false; 
 } 
 return false; 
 } 
</script>
</body>
</html>