<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>旅游花费信息</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {{ echarts_js_dependencies(m) }}
</head>
<body style="padding-top: 70px;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">旅游数据分析系统</a>

            <ul class="nav navbar-nav">
                <li><a href="/hi">首页</a></li>
            </ul>

        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->

<div class="container">
    
    <div class="panel panel-default">
        <div class="panel-heading">总体旅游个人花费情况</div>
        <div class="panel-body">
            {{ echarts_container(all) }}
        </div>
    </div>

    {{ echarts_js_content(all) }}
</div>
<div class="container">
    
    <div class="panel panel-default">
        <div class="panel-heading">总体旅游个人花费情况</div>
        <div class="panel-body">
            {{ echarts_container(all2) }}
        </div>
    </div>

    {{ echarts_js_content(all2) }}
</div>

<div class="container">
    
    <div class="panel panel-default">
        <div class="panel-heading">旅游出行花费情况，1000元之内</div>
        <div class="panel-body">
            {{ echarts_container(m) }}
        </div>
    </div>

    {{ echarts_js_content(m) }}
</div>

<div class="container">
    
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            {{ echarts_container(line) }}
        </div>
    </div>

    {{ echarts_js_content(line) }}
</div>

<div class="container">
    
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            {{ echarts_container(es) }}
        </div>
    </div>

    {{ echarts_js_content(es) }}
</div>

<div class="container">
    
    <div class="panel panel-default">
        <div class="panel-heading">花费在1000元以上</div>
        <div class="panel-body">
            {{ echarts_container(over) }}
        </div>
    </div>

    {{ echarts_js_content(over) }}
</div>

</body>
</html>
